NEXT_PUBLIC_CONVEX_URL=https://your-convex-deployment.convex.cloud
CONVEX_DEPLOYMENT=your-convex-deployment


WORKOS_API_KEY=sk_test_your_key
WORKOS_CLIENT_ID=client_your_id
WORKOS_COOKIE_PASSWORD=replace_with_32_or_more_random_chars
WORKOS_REDIRECT_URI=http://localhost:3000/api/auth/callback

NEXT_PUBLIC_APP_URL=http://localhost:3000
